body, html {
    height: 100%;
}

.parallax-image {
    /* The image used */
    background-image: url("../Images/particles1.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box {
    padding-bottom: 10px;
}
.parallax-image2 {
    background-image: url("../Images/particles3.png");
}

.parallax-image3 {
    background-image: url("../Images/texture6.jpg");
}

.parallax-image4 {
    background-image: url("../Images/texture3.jpg");
}

.parllax-image5 {
    background-image: url("../Images/heroImage2.jpg");
}

.my-headers {
    height:55px;
    background-color: black;
    text-align: center;
}

.my-title {
    font-size: 100px;
    color: white;
    text-align: center;
}

.my-content {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.para-strip {
    height:100px;
}

.para-strip-large {
    height:200px;
}

.para-strip-thin {
    height: 20px;
}
